# docker-compose.yml
version: "3"
services:
  vue:
    build: .
    ports:
      - "8081:8081"
    networks:
      - dockermysqlinittable_default
# 需要在services同级声明一下外部网络
networks:
  dockermysqlinittable_default:
     external: true

